<p class="text">
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Welcome to our Winter Edition!"
    }
  ],
  "presets": [{"name": "Test preset"}]
}
{% endschema %}