<!-- sections/dev__video.liquid -->

<div class="{{ section.settings.video_section_container }}">
  {%- if section.settings.video -%}
    {{
      section.settings.video
      | video_tag:
        image_size: '1100x',
        autoplay: section.settings.autoplay_video,
        controls: section.settings.controls,
        muted: section.settings.mute,
        loop: section.settings.enable_video_looping,
        class: section.settings.video_styling
    }}
  {%- else -%}
    <div class="{{ section.settings.no_video_text }}">No Video Added Yet</div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Full Width Video",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "checkbox",
      "id": "autoplay_video",
      "label": "Auto Play Video",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Play video on loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": "Video Controls",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "mute",
      "label": "Video Mute",
      "default": true
    },
    {
      "type": "header",
      "content": "Tailwind CSS Classes"
    },
    {
      "type": "textarea",
      "id": "video_section_container",
      "label": "Video Section Container",
      "default": "w-full"
    },
    {
      "type": "textarea",
      "id": "video_styling",
      "label": "Video Styling",
      "default": "w-full"
    },
    {
      "type": "textarea",
      "id": "no_video_text",
      "label": "No Video Text Styling",
      "default": "text-center font-bold uppercase my-10"
    }
  ],
  "presets": [
    {
      "name": "Full Width Video"
    }
  ]
}
{% endschema %}
