<section class="back-to-top_section_classes {{ section.settings.back-to-top_section_classes }}">
  <a
    id="BackToTop"
    href="#"
    title="Back to the top"
    class="back-to-top_classes {{ section.settings.back-to-top_classes }}"
  >
    {% render 'arrow' %}
  </a>
</section>

<style>
  .back-to-top_classes {
    transition: opacity 0.3s;
    opacity: 1;
  }
  
  .back-to-top_classes.show {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var goTopBtn = document.querySelector('.back-to-top_classes');
    if (!goTopBtn) return; // Check if button exists
  
    function trackScroll() {
      var scrolled = window.pageYOffset;
      var coords = 300;
      if (scrolled > coords) {
        goTopBtn.classList.add('show'); // Use CSS class for showing/hiding
      } else {
        goTopBtn.classList.remove('show');
      }
    }
  
    function backToTop() {
      if (window.pageYOffset > 0) {
        window.scrollBy(0, -80);
        requestAnimationFrame(backToTop); // Smooth scrolling
      } else {
        goTopBtn.classList.remove('show'); // Ensure it's hidden after reaching the top
      }
    }
  
    window.addEventListener('scroll', trackScroll); // Consider debouncing this
    goTopBtn.addEventListener('click', backToTop);
  });
</script>

{% schema %}
{
  "name": "Back-to-Top Button",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Tailwind Styling"
    },
    {
      "type": "textarea",
      "id": "back-to-top_section_classes",
      "label": "Section Styling"
    },
    {
      "type": "textarea",
      "id": "back-to-top_classes",
      "label": "Back to Top Section Styling",
      "default": "fixed bottom-4 right-4 bg-gray-300 rounded-full p-4 hover:bg-gray-400"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Back to Top Button"
    }
  ]
}
{% endschema %}
