{{ 'dev__collapsible-content.css' | asset_url | stylesheet_tag }}

<div class="collapsible-content">
  <h2>{{ section.settings.title }}</h2>

  {% for block in section.blocks %}
    <div class="collapsible-item">
      <details>
        <summary>
          {{ block.settings.block_title }}
        </summary>
        <p>  
          
          {{ block.settings.block_content }}
          
        </p>
      </details>  
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Collapsible Content",
  "class": "collapsible-content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collapsible Section Title",
      "default": "Collapsible Section"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "block_content",
          "label": "Block Content",
          "default": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible Content Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
