<div style="background-color: {{ section.settings.background_color }};">
    {{ section.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "Custom Liquid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other code to create advanced customizations. [Learn more](https://shopify.dev/docs/api/liquid)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "info": "Choose a background color for the section."
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
