<!-- modal.liquid -->

{%- style -%}

  .icon-cross{
    width:20px;
  }
  
  @media screen and (max-width: 768px) {

    .icon-cross{
      width:18px;
    }
  }
{%- endstyle -%}

<div class="modal-dark-overlay fixed top-0 left-0 w-full h-full bg-black bg-opacity-70 overflow-auto"></div>

<div class="modal-container fixed top-0 left-0 w-full h-full">
    <div class="modal relative w-[80%] md:w-[40%] mx-auto bg-white px-[20px] pt-[18px] pb-[12px] md:px-[40px] md:py-[20px] rounded-[10px] shadow-lg top-[25%]">
        <button id="closeModal" class="close absolute right-[20px] cursor-pointer"> {% render 'icon-cross' %} </button>
        <h2 class="text-sm md:text-xl font-semibold mb-2 md:mb-4">Welcome to Our Store! 7</h2>
        <p class="mb-2 md:mb-6 text-xs md:text-base">We're delighted to have you here. Enjoy your shopping experience and feel free to explore our wide range of products.</p>
        <button id="acknowledgeButton" class="bg-purple-900 text-white px-2 py-1 md:px-4 md:py-1 rounded-full text-xs md:text-base">Okay</button>
    </div>
</div>


<script>
  
const toggleModal = (show) => {
  const overlay = document.querySelector(".modal-dark-overlay");
  const modalContainer = document.querySelector(".modal-container");
  const modal = document.querySelector(".modal");

  if (show) {
    overlay.style.display = "block";
    modalContainer.style.display = "block";
  } else {
    overlay.style.display = "none";
    modalContainer.style.display = "none";
    modal.style.display = "none";
  } 
};

document.addEventListener('DOMContentLoaded', function () {
  toggleModal(true); // Show modal on page load
});

// Close Modal
document.querySelector("#closeModal").onclick = function(){
  toggleModal(false);
};

document.querySelector("#acknowledgeButton").onclick = function(){
  toggleModal(false);
};

// Close Modal when clicked outside the modal
window.onclick = function(e){
  if(e.target === document.querySelector('.modal-container')){
    toggleModal(false);
  }
};


</script>


{% schema %}
{
  "name": "Modal",
  "class": "modal",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Multi-Column Section"
    },
    {
      "type": "header",
      "content": "Tailwind Styling Classes"
    },
    {
      "type": "text",
      "id": "multi-column",
      "label": "Style Section",
      "default": "w-[90%] mt-5 md:mt-10 mx-auto"
    },
    {
      "type": "text",
      "id": "multi-column__section-title",
      "label": "Style Section Header",
      "default": "md:pb-4 text-2xl md:text-3xl font-semibold"
    },
    {
      "type": "text",
      "id": "multi-column__container",
      "label": "Style Multi-Column Container",
      "default": "mt-7 md:mt-5 flex flex-col gap-5 md:gap-10 md:flex-row"
    },
    {
      "type": "text",
      "id": "multi-column__item",
      "label": "Style Multi-Column Item",
      "default": "w-full md:w-[30%] px-2.5 py-2.5 md:px-3.5 md:py-3.5 rounded-[15px] md:rounded-[20px] bg-[#ebe7e7]"
    },
    {
      "type": "text",
      "id": "multi-column__item-img",
      "label": "Style Column Item Image",
      "default": "w-full h-[150px] md:h-[200px] overflow-hidden rounded-[10px]"
    },
    {
      "type": "text",
      "id": "multi-column__item-title",
      "label": "Style Column Title",
      "default": "text-lg md:text-xl mt-2.5 font-medium break-normal"
    },
    {
      "type": "text",
      "id": "multi-column__item-content",
      "label": "Style Column Content",
      "default": "text-sm md:text-base font-light break-normal"
    },
    {
      "type": "text",
      "id": "multi-column__item-link",
      "label": "Style Column Link",
      "default": "text-sm md:text-base font-normal cursor-pointer text-blue-900 hover:text-blue-600 hover:underline"
    }
  ],
  "presets": [
    {
      "name": "Modal",
      "category": "Custom"
    }
  ]
}
{% endschema %}
