<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
{{ section.settings.asdas }} 

{% schema %}
  {
  "name": "header",
  "class": "shopify-header",
  "settings": [
    {
      "type": "text",
      "id": "asdas",
      "label": "asdas"
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}