<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 5s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  width:auto;
  margin: 0 40px;
}

</style>

<div class="logos overflow-hidden py-[10px] bg-white whitespace-nowrap relative" >
  {% for block in section.blocks %}
  <div class="logos-slide inline-block">
           {{ block.settings.logo | image_url : width: 200 | image_tag }}
  </div>
  {% endfor %}

  {% for block in section.blocks %}
  <div class="logos-slide inline-block">
           {{ block.settings.logo | image_url : width: 200 | image_tag }}
  </div>
  {% endfor %}
</div>





{% comment %} <div class="overflow-hidden bg-white whitespace-nowrap relative logos">
  <div class="absolute top-0 w-250 h-full bg-gradient-to-r from-white via-transparent to-white"></div>
  <div class="absolute top-0 right-0 w-250 h-full bg-gradient-to-l from-white via-transparent to-white"></div>


    {% for block in section.blocks %}
    <div class="logos-slide inline-block animation-slide infinite linear">
      {{ block.settings.logo | image_url : width: 50 | image_tag }}
    </div>
    {% endfor %}

    {% for block in section.blocks %}
    <div class="logos-slide inline-block animation-slide infinite linear">
      {{ block.settings.logo | image_url : width: 50 | image_tag }}
    </div>
    {% endfor %}
 
</div>

<style>
  @media screen and (max-width: 768px) {
    .logos:before,
    .logos:after {
      width: 200px;
    }

    .logos-slide img {
      height: 40px;
      margin: 0 20px;
    }
  }
</style>
 {% endcomment %}




{% schema %}
{
  "name": "Logo Carousel",
  "class": "shopify-brand-carousel",
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "Select the logo image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "placeholder": "Alt text for accessibility"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel"
    }
  ]
}
{% endschema %}
