<div class="yummuy_only_text--wrp">
  <span class="blinking_circle"></span>
  <p>
      <a href="{{ section.settings.linkUrl }}" target="_blank">  {{ section.settings.notification_text }} </a>
      <p>
        {{ section.settings.sub_notification_text }}
      </p>
    
  </p>
</div>

{% schema %}
{
  "name": "Notification Bar",
  "settings": [
    {
      "type": "text",
      "label": "Notification Text",
      "id": "notification_text",
      "default": "Notification URL Text"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "linkUrl"
    },
    {
      "type": "text",
      "label": "Sub Notification Text",
      "id": "sub_notification_text",
      "default": "Sub Notification"
    }
    
  ],
  "presets": [
    {
      "name": "Notification-bar"
    }
  ]
}
{% endschema %}
