<div class="yummuy_only_text--wrp">
  <span class="blinking_circle"></span>
  {% if section.settings.notification_text != blank and section.settings.linkUrl != blank %}
    <p>
        <a href="{{ section.settings.linkUrl }}" target="_blank">  {{ section.settings.notification_text }} </a>
        {% if section.settings.sub_notification_text != blank %}
          <p>
            {{ section.settings.sub_notification_text }}
          </p>
        {% endif %}
    </p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Notification Bar",
  "settings": [
    {
      "type": "text",
      "label": "Notification Text",
      "id": "notification_text"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "linkUrl"
    },
    {
      "type": "text",
      "label": "Sub Notification Text",
      "id": "sub_notification_text"
    }
    
  ],
  "presets": [
    {
      "name": "Notification-bar"
    }
  ]
}
{% endschema %}
