<div class="yummuy_only_text--wrp">
  <span class="blinking_circle"></span>
  <p>
    {% if section.settings.notification_text != 'This is notification bar' %}
      <a href="{{ section.settings.linkUrl }}" target="_blank">  {{ section.settings.notification_text }} </a>
      {% else %}
      New: <a href='https://www.yummygums.com/' target="_blank">Yummygums Sleep</a> ZzzzZzzZ 🌚
    {% endif %}

    <p>
    {% if section.settings.sub_notification_text != 'Sub Notification' %}
      {{ section.settings.sub_notification_text }}
    {% endif %}
    </p>
    
  </p>
</div>

{% schema %}
{
  "name": "Notification Bar",
  "settings": [
    {
      "type": "text",
      "label": "Notification Text",
      "id": "notification_text",
      "default": "This is notification bar"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "linkUrl"
    },
    {
      "type": "text",
      "label": "Sub Notification Text",
      "id": "sub_notification_text",
      "default": "Sub Notification"
    }
    
  ],
  "presets": [
    {
      "name": "Notification-bar"
    }
  ]
}
{% endschema %}
