<!-- sections/testimonials.liquid -->
<div class="testimonials">
  <div class="testimonials__container">
    {% for testimonial in section.blocks %}
      <div class="testimonial">
        <img
          class="testimonial__image"
          src="{{ testimonial.settings.testimonial_image | image_url: width: 300, height: 300 }}"
          alt="{{ testimonial.settings.testimonial_name }}"
          loading="eager"
          width="300"  
          height="300"
        >
        <p class="testimonial__content">{{ testimonial.settings.testimonial_content }}</p>
        <p class="testimonial__name">{{ testimonial.settings.testimonial_name }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "blocks": [
    {
      "type": "testimonials",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "testimonial_image"
        },
        {
          "type": "textarea",
          "label": "Testimonial Content",
          "id": "testimonial_content"
        },
        {
          "type": "text",
          "label": "Name",
          "id": "testimonial_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Testimonials Section"
    }
  ]
}
{% endschema %}
