:root {
  /* Define your base font size */
  --font-body-scale: 1;
  --base-font-size: calc(var(--font-body-scale) * 62.5%); /* Default 10px */

  /* Color scheme */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  --text-color: #333;
  --text-color-light: #fff;
  --bg-color: #fff;
  --bg-color-dark: #000;

  /* Fonts */
  --font-primary: 'Arial', sans-serif;
  --font-secondary: 'Georgia', serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 450;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font sizes */
  --font-size-small: 1.2rem;
  --font-size-normal: 1.6rem;
  --font-size-large: 2.4rem;

  /* Line heights */
  --line-height-normal: 1.6;
  --line-height-heading: 1.3;

  /* Spacing */
  --spacing-small: 0.8rem;
  --spacing-normal: 1.6rem;
  --spacing-large: 3.2rem;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}


/* Reset margins and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font-primary);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: var(--font-size-normal);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-heading);
  margin-bottom: var(--spacing-normal);
}

h1 { font-size: var(--font-size-large); }
h2 { font-size: calc(var(--font-size-large) * 0.75); }
/* ... Similarly for h3, h4, h5, h6 */

a {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.icon{
  width: 30px;
}

.hidden {
  display: none;
}

.rel {
  position: relative;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}