/* Add your custom styles for the discount cards section here */

.section-container {
    max-width: 1200px; /* Adjust the max width as needed */
    margin: 0 auto; /* Center the section horizontally */
    padding: 20px;
    background-color: #f5f5f5; /* Set the background color for the section */
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Set the title color */
  }
  
  .discount-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  .card-link {
    text-decoration: none;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: calc(33.33% - 20px); /* Three cards in a row with a gap */
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h3 {
    margin-top: 10px;
    color: #333; /* Set the text color for card titles */
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: rgb(96, 96, 255);
    background: linear-gradient(0deg, rgb(156, 11, 156) 0%, rgb(156, 11, 156) 100%);
  }
  
  .btn:hover {
    background-color: #45a049;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
      -4px -4px 6px 0 rgba(116, 125, 136, .5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .discount-cards {
      justify-content: flex-start;
    }
  
    .card {
      max-width: 100%; /* Make cards take full width on smaller screens */
    }
  }