/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(217, 218, 220);
}

/* Logo styles */
.logo {
    width: 200px;
    display: flex;
    align-items: center;
}

/* Navbar styles */
.navbar {
    width: 50%;
}

/* Removing default global anchar tag css */
#navbar a{
    color: inherit;
    text-decoration: none;
}

/* Navbar Toggler styles */
.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    font-size: 24px;
}

/* Nav list styles */
.navbar__nav-list {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav-list .navbar__main-menu:hover {
    text-decoration: underline;
}

/* Nav item styles */ /* Menu 1,2,3 */
.navbar__nav-item {
    margin-right: 15px;
    position: relative;
    width: 200px;
}

/* Dropdown styles */ /* for dropdown-child, dropdown-grandchild */
.dropdown-child {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ddd;
}

.dropdown-child {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    min-width: 100%;
}

.navbar__nav-item:hover .dropdown-child {
    display: block;
    min-width: 200px;
}

/* Menu link styles */
.navbar__menu-link {
    display: block;
    transition: background-color 0.3s ease;
    padding: 10px 0 0 3px;
}

.navbar__menu-link:hover {
    background-color: #f0f0f0;
    /* text-decoration: underline;
    color: blue; */
}

/* Grandchild dropdown styles */
.dropdown-grandchild {
    display: none;
    left: 100%;
    top: 0;
    min-width: 150px;
    z-index: 1000;
}

/* Additional styles for nested dropdowns */
.dropdown-child:hover .dropdown-grandchild {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0;
    display: block;
}

.navbar__sub-menu-link {
    font-size: 14px;
    margin: 10px 0px 0px 6px;
    width: 100%;
}

.dropdown-grandchild:hover {
    background-color: rgb(228, 184, 181);
   /*  text-decoration: underline;
    color: blue; */
    
}

/* Actions styles */
.actions {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.actions a{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.icon-cart{
    width: 30px;
    color: inherit;
}

.icon-search {
    width: 20px;
    color: rgb(0, 0, 0);
}

.icon-hamburger{
    width: 25px;
    color: rgb(0, 0, 0);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        justify-content: space-between;
    }

    .navbar-toggler {
        display: block;
    }

    .logo{
        margin-left: 20px;
    }

    .navbar__nav-list {     /* main menus, menu 1,2,3 */
        flex-direction: column;
        align-items: stretch;
        display: none;
        position: absolute;
        top: calc(60px + 10px);
        left: 0;
        right: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .navbar__nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .navbar__menu {
        width: 100%;
        left: 0;
        top: auto;
        border-radius: 0;
        position: absolute;
        margin-top: 0px;
    }

    .navbar__menu-link:after {
        font-size: 10px;
        margin-left: 5px;
    }

    .responsive .navbar__nav-list {
        display: flex;

    }

    .responsive .navbar__menu {
        position: relative;
        width: 100%;
        left: 0;
        top: auto;
        border-radius: 0;
        
        padding: 0;
    }

    .responsive .dropdown-child{
        box-shadow: none;
        border: none;

    
    }

    

    .dropdown-child:hover .dropdown-grandchild {
        top: 0;
        left: 0;
        margin-top: -1px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .navbar__menu-link {
        font-size: 15px;
        /* padding: 5px 0 3px 5px; */
    }

    .navbar__sub-menu-link {
        font-size: 13px;
        /* padding: 5px 0 3px 5px; */
    }

    .dropdown-grandchild:hover {
        text-decoration: underline;
    }
}