.collapsible-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.collapsible-content h2{
    font-size: 28px;
}

.collapsible-item {
    border-bottom: 1px solid rgba(85, 85, 85, 0.5);
    margin:10px 0;
    overflow: hidden;
}

summary {
  display: block;
  font-size: 18px;
  cursor: pointer;
  padding: 0 0 10px 0px;
  font-weight: 500;
}

summary::before {
  margin-left: 2px;
  margin-right: 10px;
  display: inline-block;
  content: '＋';
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 1em;
  background-color: #4C148A;
  color: #FDE1FF;
  border-radius: 100%;
  width: 1.1em; 
  height: 1.1em;
  line-height: 1.1em; 
  text-align: center; 
}

details[open] > summary::before {
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
  color: #ffffff;
}

details > p {
    margin-left: 40px;
    font-size: 15px;
    padding: 0 0 5px 0;
    color:rgb(70, 66, 66)
}



@media screen and (max-width: 768px) {

.collapsible-content {
    width: 90%;
    margin-left: 10px;
    padding-top: 20px;
}

.collapsible-content h2{
    font-size: 24px;
    padding-bottom: 10px;
}

summary {
  display: flex;
  align-items:baseline;
  font-size: 15px;
  cursor: pointer;
  padding: 0 0 8px 0px;
  font-weight: 600;
}

summary::before {
  margin-left: 2px;
  margin-right: 7px;
  font-size: 0.9em;
  width: 1em; 
  height: 1em;
  line-height: 1em; 
}


details > p {
    margin-left: 25px;
    font-size: 13px;
    padding: 0 0 4px 0;
}

}