  .announcement__wrapper {
    overflow: hidden;
    display: flex; /* Ensures announcements are in a line */
    white-space: nowrap; /* Prevents wrapping of text */
    height: 45px;
    background-color: var(--bg-color-dark);
  }

  .announcement__item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%; /* Start off-screen to the right */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 1s ease-in-out;
    opacity: 0;
  }

  .announcement__message {
    color: var(--text-color-light);
  }

  /* Slide moving into view */
  .slide-in {
    left: 0; /* Slide into view */
    opacity: 1;
  }

  /* Slide moving to the left */
  .slide-out-left {
    left: -100%; /* Slide out to the left */
    opacity: 1;
  }