@font-face {
     font-family: "HanziPenSC-W5-Proportional";
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('/assets/HanziPenSC-W5.woff') format("woff");
 }
 
@font-face {
     font-family: 'Londrina Solid';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('/assets/LondrinaSolid-Regular.woff') format("woff");
 }
 
@font-face {
     font-family: "Circular Std";
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('/assets/CircularStd-Book.woff2') format("woff2")
 }

 :root {
     --font-subtitle-family: "HanziPenSC-W5-Proportional";
     --font-heading-family: "Londrina Solid";
     --font-body-family: "Circular std";
 }
 
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

#Banner-template {
     justify-content: space-between;
     background-color: #fde1ff;
     height: 100vh;
 
 }
  
.image-banner {
     display: flex;
     flex-direction: row-reverse;
     color: #4c148a;
     height: 100vh;
}
  
.text-white {
     padding: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center; 
     flex: 1;
     height: 100vh;
}
  
.image-banner-small-title {
     line-height: normal;
     letter-spacing: 0px;
     font-family: var(--font-subtitle-family);
     font-size: 20px !important;
}

.image-banner-title{
     line-height: 90%;
     font-family: var(--font-heading-family);
     font-size: 60px !important;
     text-transform: uppercase;
     font-weight: bolder;
}

.image-banner-image {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
}

.image-banner-image img {
     height: 100%;
     width: 100%;
}

.image-banner-contant {
     font-size: 18px !important;
     font-family: var(--font-body-family);
}
 
  
@media only screen and (max-width: 768px) {
     .image-banner {
          flex-direction: column;
          align-items: center;
     }

     .text-white {
          padding: 20px;
     }

     .image-banner-small-title{
          font-size: 20px !important;
     }

     .image-banner-title {
          font-size: 36px !important;
     }

     .image-banner-content {
          font-size: 15px !important;
     }
}