* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-text-container {
    display: flex;
    width: 100%;
}

.video-container {
    flex: 1;
    height: 100vh;
    /* Adjust the height as needed */
}

.text-container {
    flex: 1;
    padding: 20px;
    /* Adjust padding as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .video-text-container {
        flex-direction: column;
    }

    .video-container,
    .text-container {
        width: 100%;
    }
}