@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book');
@import url('https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.modal-open {
    overflow: hidden;
}

.video-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #4C148A;
}

.video-container {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-content {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 43px 0 43px;

    /* CSS For Child Elements */
    h2,
    h3 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-family: "Londrina Solid";
        font-size: 60px;
        letter-spacing: 0.6px;
        line-height: 54px;
    }

    h2 {
        color: #FF670E;
    }

    h3 {
        color: #FDE1FF;
    }

    p {
        margin: 20px 0 20px 0;
        font-size: 22px;
        line-height: 33px;
        color: #FFFFFF;
        padding: 0 25px 0 25px;
        font-family: "Circular Std Book";
    }

    div a {
        text-decoration: none;
        font-family: "Circular Std Bold";
        color: #FFFFFF;
        border: 2px solid #FF670E;
        padding: 12px 24px 12px 24px;
        border-radius: 100px;
        text-transform: uppercase;
    }
}

.video-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-overlay iframe {
    width: 100%;
    height: 100%;
}

.play-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.play-icon {
    width: 74px;
    height: 74px;
    fill: #fff;
    background-color: #4C148A;
    padding: 20px;
    border-radius: 100%;
}

.video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.video-modal iframe {
    width: 80%;
    height: 80%;
}

.close-modal {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .video-text-section {
        flex-direction: column;
    }

    .video-container,
    .text-content {
        height: 100%;
        width: 100%;
    }

    .text-content {
        padding: 50px 0 0 0;

        h2,
        h3 {
            font-size: 25px;
        }

        p {
            font-size: 14px;
        }

        div a {
            font-size: 12px;
        }
    }

    .play-icon-container {
        top: 40%;
    }

    .play-icon {
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .video-modal iframe {
        width: 90%;
        height: 90%;
    }
}